@model EscolaTCC.Models.Endereco

@{
    ViewData["Title"] = "Cadastro de Endereço";

    //Talvez essa lógica seja deprimente, porém é um bom desencargo de consciência.
    int resposta = Convert.ToInt32(ViewData["ResultadoEndereco"]);

    if (resposta == 1)
    {
        <script type="text/JavaScript">
            alert('CEP cadastrado!');

        </script>
    }
    else if (resposta == 2)
    {
        <script type="text/JavaScript">
            alert('Dados incorretos!');

        </script>
    }
    else if (resposta == 3)
    {
        <script type="text/JavaScript">
            alert('Cadastro bem sucedido!');

        </script>
    }
    else
    {

    }
}



<h2>Index de Endereço</h2>
<hr />
<div style="width:100%">
    <fieldset class="well" style="display:block; margin:0 auto; width:70%;">
        <legend>Cadastro de Diretores</legend>
        <form asp-action="Index" style="display:block; margin:0 auto; width:70%;" name="form1">

            <script>
                //adiciona mascara de cep
                function MascaraCep(Cep) {
                    if (mascaraInteiro(Cep) == false) {
                        event.returnValue = false;
                    }
                    return formataCampo(Cep, '00.000-000', event);
                }

                //valida CEP
                function ValidaCep(Cep) {
                    exp = /\d{2}\.\d{3}\-\d{3}/
                    if (!exp.test(Cep.value))
                        alert('Numero de Cep Invalido!');
                }
            </script>
            <div class="form-group">
                <label asp-for="No_Cep" class="control-label"></label>
                <input asp-for="No_Cep" class="form-control" id="Cep" name="Cep" onKeyPress="MascaraCep(form1.Cep)" onBlur="ValidaCep(form1.cep)">
                <span asp-validation-for="No_Cep" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nm_Logra" class="control-label"></label>
                <input asp-for="Nm_Logra" class="form-control" id="Logradouro" name="Logradouro" />
                <span asp-validation-for="Nm_Logra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nm_Bairro" class="control-label"></label>
                <input asp-for="Nm_Bairro" class="form-control" id="Bairro" name="Bairro" />
                <span asp-validation-for="Nm_Bairro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nm_Cidade" class="control-label"></label>
                <input asp-for="Nm_Cidade" class="form-control" id="Cidade" name="Cidade" />
                <span asp-validation-for="Nm_Cidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sg_Uf" class="control-label"></label>
                <input asp-for="Sg_Uf" class="form-control" id="Uf" name="Uf" />
                <span asp-validation-for="Sg_Uf" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />

                <input type="button" value="Limpar" class="btn btn-default" />
            </div>
        </form>
    </fieldset>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div>

