@{
    ViewData["Title"] = "Página Inicial";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function () {
        // Transition effect for navbar
        $(window).scroll(function () {
            // checks if window is scrolled more than 500px, adds/removes solid class
            if ($(this).scrollTop() > 200) {
                $('.cont').addClass('animation');
            }

        });
    });</script>
<style>



    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 50%;
    }

    .p {
        color: black;
        font-size: 20px;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 50%;
    }


    .cabecalhs {
        font-family: 'Global Serif';
        text-align: center;
        font-size: 30pt;
        color: black;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6) padding: 0px;
        margin-bottom: 2px;
    }

    .contatin {
        /*font-family: 'PT Serif', serif;*/
        text-align: justify;
        font-size: 20pt;
        color: black;
        margin-bottom: 1px;
    }


    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .bg-3 {
        background: linear-gradient(45deg, white 50%, #f799bc 50%);
        color: #555555;
        background-color:
    }

    .bg-1 {
        background-color: lightcyan; /* Green */
        color: black;
    }

    #teste1 {
        background: linear-gradient(45deg, #91e8f7 50%, white 50%);
        letter-spacing: 2px;
    }


    .margin {
        margin-bottom: 45px;
    }

    .teste2 {
        margin-bottom: 45px;
        font-family: 'Luckiest Guy', cursive;
        font-size: 70px;
        color: black;
    }

    .glyphicon-leaf {
        color: chartreuse;
        font-size: 200px;
    }

    .logo {
        color: blue;
        font-size: 200px;
    }

    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    #contatti {
        background-color: #70c3be;
        letter-spacing: 2px;
    }

        #contatti a {
            color: #fff;
            text-decoration: none;
        }




        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }


    #contatti {
        padding-bottom: 350px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 850px;
        }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/classroom.jpg" alt="Sala de Aula" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <!--
                <p>
                    Instituto Resturação Social
                    <a class="btn btn-success" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite-nos!
                    </a>
                </p>
                -->
            </div>
        </div>
        <div class="item">
            <img src="~/images/kids.jpg" alt="Crianças" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Nossos alunos
                    <a class="btn btn-success" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite nossa página no Facebook!
                    </a>
                </p>
            </div>
        </div>
        <!--3º imagem do carrousel-->
        <div class="item">
            <img src="~/images/Sunrise.jpg" alt="Campo" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Nossos alunos
                    <a class="btn btn-success" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite-nos!
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!-- Container (Quem Somos Nós) -->
<div class="container-fluid bg-1 text-center">
    <h3 class="teste2">Quem Somos Nós?</h3>
    <h1 class="bg-1">
        No ano de 2006 um jovem casal, Tiago Campos Batista e sua esposa Dilma S. Campos Batista, começaram a desenvolver um trabalho social nas comunidades carentes de Carapicuíba, realizando a assistência social para famílias de alta vulnerabilidade social que participavam de uma comunidade cristã na qual eram membros, promovendo a orientação familiar, recolocação no mercado de trabalho, apoio com cestas básicas, encaminhamento para psicólogos, clinicas para dependentes químicos e orientação religiosa.
    </h1>
</div>
<!-- Container (Galeria) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="teste2">Galeria de Fotos</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p class="p">Dia de visita ao circo com as crianças do instituto restauração social. Gloria a Deus</p>
            <img src="~/images/circo.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p class="p">Evento Beneficente, elaborado para arrecadar verba para as crianças do instituto.</p>
            <img src="~/images/evento.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p class="p">Festa para comerorar o dia das crianças, compareça e prestigie nossas crianças.</p>
            <img src="~/images/festa.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p class="p">Lugar de criança não é trabalhando, a increva em nossa ONG.</p>
            <img src="~/images/trabalho.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p class="p">Inscreva seu filho em nossa ONG para que ele pratique esportes.</p>
            <img src="~/images/esporte.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p class="p">Parabéns ao time de futebol sub 14 que acabou de conquistar sua 1° medalha.</p>
            <img src="~/images/sub14.jpg" class="img-responsive margin" style="width:640px" height="640px" alt="Image">
        </div>
    </div>
</div>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center" id="teste1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <h3>Missão</h3>
                    <p class="contatin">
                        Nossa Missão é restaurar a dignidade de crianças e adolescentes e seus familiares por meio de ações sociais voltadas a combater a desigualdade social, promovendo a transformação do meio social.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <h3>Visão</h3>
                    <p class="contatin"> Nossa visão é proporcionar as crianças e adolescentes da comunidade, oportunidades criando estratégias para inclusão social, e inseri-los na sociedade formando cidadãos participativos e atuantes.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-star"></i>
                    </div>
                    <h3>Valores</h3>
                    <p class="contatin">
                        Temos como valores manter a integridade das crinanças, para que ela possam curtir a época mais produtiva de sua vidas com dignidade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row" id="contatti" style="height:400px">
    <div class="container mt-5" style="height:400px">
        <div class="row" style="height:400px;">
            <div class="col-md-6 maps">
                <h2 class="cabecalhs">Onde Estamos</h2>
                <iframe src="https://maps.google.com/maps?q=Rua%20Santo%20Ant%C3%B4nio%20da%20Platina%2C%20228%2C%20Carapicu%C3%ADba%20-%20SP%2C%2006328-070%2C%20Brasil&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="height:300px" marginheight="40px" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="cabecalhs">CONTATOS</h2>
                <div class="contatin">
                    <i class="fa fa-phone mt-3"></i> <a href="tel:+">Número (11) 4164-2040 (Fixo)</a><br>
                    <i class="fa fa-phone mt-3"></i> <a href="tel:+">Número (11) 95843-1256</a><br>
                    <i class="fa fa-envelope mt-3"></i> <a href="">Email: restaurasocial@gmail.com </a><br>
                    <div class="my-4">
                        <a href="https://www.facebook.com/pg/InstitutoRestauracaoSocial/about/?ref=page_internal"><i class="fa fa-facebook fa-3x"></i></a>
                        <a href="https://twitter.com/msf_brasil"><i class="fa fa-twitter fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>