@{
    ViewData["Title"] = "Página Inicial";
}

<script type="text/javascript">
    $(document).ready(function() {
        // Transition effect for navbar
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 200) {
              $('.cont').addClass('animation');
          }

        });
});
</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/classroom.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
                <p>
                    Instituto Resturação Social
                    <a class="btn btn-info" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite-nos!
                    </a>
                </p>
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/kids.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Nossos alunos
                    <a class="btn btn-info" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite nossa página no Facebook!
                    </a>
                </p>
            </div>
        </div>


        <!--3º imagem do carrousel-->
        <div class="item">
            <img src="~/images/Sunrise.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Nossos alunos
                    <a class="btn btn-info" href="https://www.facebook.com/InstitutoRestauracaoSocial/">
                        Visite-nos!
                    </a>
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

<div class="bloc1">
    <h2 id="titulo">SOBRE NÓS</h2>
    <div class="cont">
        <div class="box1">
            <img style="height: 150px;width: 150px;" src="~/images/search.png" alt="image1" />
        </div>
        <div class="box">
            <p> A Hestya Softwares tem como visão o desenvolvimento de softwares que auxiliem a vida de instituições (tanto como pública ou privada) e pessoas com softwares desenvolvidos por nós.</p>
        </div>
    </div>
</div>

<div class="bloc1" data-speed="15">
    <h2 id="titulo">NOSSA MISSÃO</h2>
    <div class="cont">
        <div class="box1">
            <img style="height: 150px;width: 150px;" src="~/images/target.png" alt="image1" />
        </div>
        <div class="box">
            <p> A Hestya Softwares tem como missão é desenvolver softwares que o usuário possa gerenciar suas tarefas com eficiência e agilidade. </p>
        </div>
    </div>
</div>
