@model EscolaTCC.Models.BLL.Funcionario

@{
    ViewData["Title"] = "Cadastro de Diretores";

    //Talvez essa lógica seja deprimente, porém é um bom desencargo de consciência.
    int resposta = Convert.ToInt32(ViewData["ResultadoFuncionario"]);

    if (resposta == 1)
    {
        <script type="text/JavaScript">
            alert('Cadastro feito com sucesso!');

        </script>
    }
    else if (resposta == 2)
    {
        <script type="text/JavaScript">
            alert('CPF já cadastrado');

        </script>
    }
    else if (resposta == 3)
    {
        <script type="text/JavaScript">
            alert('Erro inesperado!');

        </script>
    }
    else
    {

    }
}
<!--Máscaras de CPF-->
<script>
    $(document).ready(function () {
        $('#txtCPF').mask('000.000.000-00', { placeholder: "___.___.___-__" });
    });
</script>

<h2>Index de Diretores</h2>
<hr />
<div style="width:100%">
    <fieldset class="well" style="display:block; margin:0 auto; width:70%;">
        <legend>Cadastro de Diretores</legend>
        <form asp-action="Index" style="display:block; margin:0 auto; width:70%;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nm_Func" class="control-label"></label>
                <input asp-for="Nm_Func" class="form-control" name="Nome" id="Nome" />
                <span asp-validation-for="Nm_Func" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="No_CpfFunc" class="control-label"></label>
                <input asp-for="No_CpfFunc" class="form-control" name="txtCPF" id="txtCPF" />
                <span asp-validation-for="No_CpfFunc" class="text-danger"></span>
            </div>

            <div class="form-inline">
                <label asp-for="No_RgFunc" class="control-label"></label>
                <input asp-for="No_RgFunc" class="form-control" type="text" name="Rg" id="Rg" />
                <span asp-validation-for="No_RgFunc" class="text-danger"></span>

                <label asp-for="Rg_DigFunc" class="control-label"></label>
                <input asp-for="Rg_DigFunc" class="form-control" name="Dig" id="Dig" style="width:50px" />
                <span asp-validation-for="Rg_DigFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="No_TelFunc" class="control-label"></label>
                <input asp-for="No_TelFunc" class="form-control" type="text" name="Tel" id="Tel" />
                <span asp-validation-for="No_TelFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Salário</label>
                <input type="number" name="Salario" id="Salario" class="form-control" />
            </div>

            <div class="form-group-lg">
                <label class="control-label">Formação</label>
                <input type="text" name="Formacao" id="Formacao" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Nm_EmailFunc" class="control-label"></label>
                <input asp-for="Nm_EmailFunc" class="form-control" name="Email" id="Email" />
                <span asp-validation-for="Nm_EmailFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dt_NascFunc" class="control-label"></label>
                <input asp-for="Dt_NascFunc" class="form-control" type="date" name="Nasc" id="Nasc" />
                <span asp-validation-for="Dt_NascFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="No_CepFunc" class="control-label"></label>
                <input asp-for="No_CepFunc" class="form-control" type="text" name="Cep" id="Cep" />
                <span asp-validation-for="No_CepFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="No_EndFunc" class="control-label"></label>
                <input asp-for="No_EndFunc" class="form-control" name="Numero" id="Numero" />
                <span asp-validation-for="No_EndFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ds_CompleFunc" class="control-label"></label>
                <input asp-for="Ds_CompleFunc" class="form-control" name="Comple" id="Comple" />
                <span asp-validation-for="Ds_CompleFunc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">E-mail da conta</label>
                <input class="form-control" type="text" name="Conta" id="Conta" />
            </div>

            <div class="form-inline">
                <label class="control-label">Senha</label>
                <input type="password" class="form-control" name="Senha" id="Senha" style="width:30%" />

                <label class="control-label">Confirmar Senha</label>
                <input type="password" class="form-control" style="width:30%" />
            </div>

            <br />
            <br />

            <div class="form-group" style="text-align:center;">
                <input type="submit" value="Cadastrar" class="btn btn-success" />

                <input type="button" value="Limpar" class="btn btn-success" />
            </div>
        </form>
        <div>
            <a asp-controller="Home" asp-action="Index" style="margin-left:10%;">Voltar</a>
        </div>

    </fieldset>
</div>
<script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js" type="text/javascript" asp-append-version="true"></script>




