@model EscolaTCC.Models.Aluno

@{
    ViewData["Title"] = "Cadastro de Alunos";

    //Talvez essa lógica seja deprimente, porém é um bom desencargo de consciência.
    int resposta = Convert.ToInt32(ViewData["ResultadoAluno"]);

    if (resposta == 1)
    {
        <script type="text/JavaScript">
            alert('CPF já cadastrado!');

        </script>
    }
    else if (resposta == 2)
    {
        <script type="text/JavaScript">
            alert('Cadastro feito com sucesso!');

        </script>
    }
    else if (resposta == 3)
    {
        <script type="text/JavaScript">
            alert('Erro inesperado!');

        </script>
    }
    else
    {

    }
}
<h2>Index de Alunos</h2>
<hr />
<div style="width:100%">
    <fieldset class="well" style="display:block; margin:0 auto; width:70%;">
        <legend>Cadastro de Alunos</legend>
        <form asp-action="Index" style="display:block; margin:0 auto; width:70%;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nm_Aluno" class="control-label"></label>
                <input asp-for="Nm_Aluno" class="form-control" />
                <span asp-validation-for="Nm_Aluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dt_NascAluno" class="control-label"></label>
                <input asp-for="Dt_NascAluno" class="form-control" type="date" />
                <span asp-validation-for="Dt_NascAluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No_CpfAluno" class="control-label"></label>
                <input asp-for="No_CpfAluno" class="form-control" />
                <span asp-validation-for="No_CpfAluno" class="text-danger"></span>
            </div>

            <div class="form-inline">
                <label asp-for="No_RgAluno" class="control-label"></label>
                <input asp-for="No_RgAluno" class="form-control" type="text" name="Rg" id="Rg" />
                <span asp-validation-for="No_RgAluno" class="text-danger"></span>

                <label asp-for="Dig_RgAluno" class="control-label"></label>
                <input asp-for="Dig_RgAluno" class="form-control" name="Dig" id="Dig" style="width:50px" />
                <span asp-validation-for="Dig_RgAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nm_Pai" class="control-label"></label>
                <input asp-for="Nm_Pai" class="form-control" />
                <span asp-validation-for="Nm_Pai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nm_Mae" class="control-label"></label>
                <input asp-for="Nm_Mae" class="form-control" />
                <span asp-validation-for="Nm_Mae" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cpf_Resp" class="control-label"></label>
                <input asp-for="Cpf_Resp" class="form-control" />
                <span asp-validation-for="Cpf_Resp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cd_Turma" class="control-label"></label>
                <input asp-for="Cd_Turma" class="form-control" />
                <span asp-validation-for="Cd_Turma" class="text-danger"></span>
            </div>

            <div class="form-group" style="text-align:center;">
                <input type="submit" value="Cadastrar" class="btn btn-success" />

                <input type="button" value="Limpar" class="btn btn-success" />
            </div>
        </form>
            <div>
                <a asp-controller="Home" asp-action="Index" style="margin-left:10%;">Voltar</a>
            </div>
    </fieldset>
</div>

