@model EscolaTCC.Models.Login

@{

    ViewData["Title"] = "Acesse sua conta";

    //Talvez essa lógica seja deprimente, porém é um bom desencargo de consciência.
    int resposta = Convert.ToInt32(ViewData["Resultado"]);
    if (resposta == 2)
    {
        <script type="text/JavaScript">
            alert('Email, senha ou usuário incorretos!');

        </script>
    }
    else if (resposta == 3)
    {
        <script type="text/JavaScript">
            alert('Usuário não existe!');

        </script>
    }
    else
    {
    }
}

<h2>Index de Login</h2>
<hr />
<div style="width:100%">
    <fieldset class="well" style="display:block; margin:0 auto; width:70%;">
        <legend>Acesse sua conta</legend>

        <form asp-action="Index" style="display:block; margin:0 auto; width:70%;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label for="Autorizacao" class="control-label">Quem você é?</label>

            <select id="Autorizacao" name="Autorizacao" class="form-control">
                <option value="Professor">Professor</option>
                <option value="Responsavel">Responsavel</option>
                <option value="Secretaria">Secretaria</option>
                <option value="Diretor">Diretor</option>
            </select>

            <hr />

            <div class="form-group">
                <label asp-for="NmEmail" class="control-label"></label>

                <input asp-for="NmEmail" class="form-control" name="txtEmail" id="txtEmail" />

                <span asp-validation-for="NmEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NmSenha" class="control-label"></label>

                <input asp-for="NmSenha" class="form-control" type="password" name="txtSenha" id="Senha" />

                <span asp-validation-for="NmSenha" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">

                <a asp-action="Voltar" style="text-align:left; padding-right:28%;">Menu Inicial</a>

                <input type="submit" value="Acessar" class="btn btn-success" />

                <a asp-action="Voltar" style="text-align:right; padding-left:22%;">Esqueci minha senha!</a>

            </div>

        </form>

    </fieldset>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
